# CREDIT RISK MODELING

IMPORTING THE REQUIRED LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from datetime import date

LOADING AND VIEWING THE DATA

In [2]:
data = pd.read_csv("loan_data_2007_2014.csv")
data.head()

/Users/hridayashinde/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

CLEANING THE DATA

In [3]:
#Dropping non-relevant columns
data.drop(columns = ['id', 'member_id', 'sub_grade', 'emp_title', 'url', 'desc', 'title',
                          'zip_code', 'next_pymnt_d', 'recoveries', 'collection_recovery_fee',
                          'total_rec_prncp', 'total_rec_late_fee'], inplace = True)
#Dropping columns with more than 80% null values
data.dropna(thresh = data.shape[0]*0.2, how='all', inplace=True, axis=1)

In [4]:
#Unique values of target variable: loan_status
data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [5]:
#Making Target column with values 0 or 1 depending on loan_status value
data["target"] = np.where(data.loc[:,'loan_status'].isin(
    ['Charged Off', 'Default','Late (31-120 days)','Does not meet the credit policy. Status:Charged Off']),
                          0, 1)

In [6]:
#dropping loan_status column
data.drop("loan_status", axis=1, inplace=True)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = data.drop('target', axis = 1)
y = data['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, 
                                                    random_state = 42, stratify = y)

In [9]:
#Unique values of emp_length
data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [10]:
#function to clean emp_length column
def emp_length_converter(df, column):
    df[column] = df[column].str.replace('\+ years', str(10))
    df[column] = df[column].str.replace('< 1 year', str(0))
    df[column] = df[column].str.replace(' years', '')
    df[column] = df[column].str.replace(' year', '')
    df[column] = pd.to_numeric(df[column])
    df[column].fillna(value = 0, inplace = True)

In [11]:
#function to format all columns with dates
#create a new column as a difference between today(date I worked on this model) and the respective date
def date_columns(df,column):
    today_date = pd.to_datetime('2021-07-05')
    df[column] = pd.to_datetime(df[column], format = "%b-%y")
    df["months_since_"+ column]= round(pd.to_numeric((today_date-df[column])/np.timedelta64(1,'M')))
    df['months_since_'+ column] = df['months_since_' + column].apply(lambda x: df['months_since_' + column].max() if x < 0 else x)
    df.drop(columns = [column],inplace=True)

In [12]:
#function to format loan_term
def loan_term_converter(df, column):
    df[column] = pd.to_numeric(df[column].str.replace(' months', ''))

In [13]:
#applyting functions to the required columns
date_columns(X_train, 'earliest_cr_line')
date_columns(X_train, 'issue_d')
date_columns(X_train, 'last_pymnt_d')
date_columns(X_train, 'last_credit_pull_d')
emp_length_converter(X_train, 'emp_length')
loan_term_converter(X_train, 'term')

<ipython-input-11-ee1b042a5bbf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column], format = "%b-%y")
<ipython-input-11-ee1b042a5bbf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["months_since_"+ column]= round(pd.to_numeric((today_date-df[column])/np.timedelta64(1,'M')))
<ipython-input-11-ee1b042a5bbf>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['months_since_'+ column] = df['months_since_' + column].apply(lambda x: df['months_since_' + column].max() if x < 0 else x)
/Users/hridayashinde/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-10-9cc4b9d48a63>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace('\+ years', str(10))
<ipython-input-10-9cc4b9d48a63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace('\+ years', str(10))
<ipython-input-10-9cc4b9d48a63>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace('< 1 year', str(0))
/Users/hridayashinde/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [14]:
data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,target
0,5000,5000,4975.0,36 months,10.65,162.87,B,10+ years,RENT,24000.0,...,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN,1
1,2500,2500,2500.0,60 months,15.27,59.83,C,< 1 year,RENT,30000.0,...,Sep-13,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN,0
2,2400,2400,2400.0,36 months,15.96,84.33,C,10+ years,RENT,12252.0,...,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN,1
3,10000,10000,10000.0,36 months,13.49,339.31,C,10+ years,RENT,49200.0,...,Jan-15,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN,1
4,3000,3000,3000.0,60 months,12.69,67.79,B,1 year,RENT,80000.0,...,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,18400,18400,18400.0,60 months,14.47,432.64,C,4 years,MORTGAGE,110000.0,...,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,0.0,294998.0,29900.0,1
466281,22000,22000,22000.0,60 months,19.97,582.50,D,10+ years,MORTGAGE,78000.0,...,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,0.0,221830.0,39400.0,0
466282,20700,20700,20700.0,60 months,16.99,514.34,D,7 years,MORTGAGE,46000.0,...,Dec-15,0.0,NaN,1,INDIVIDUAL,0.0,0.0,73598.0,13100.0,1
466283,2000,2000,2000.0,36 months,7.90,62.59,A,3 years,OWN,83000.0,...,Apr-15,0.0,NaN,1,INDIVIDUAL,0.0,0.0,591610.0,53100.0,1
466284,10000,10000,9975.0,36 months,19.20,367.58,D,10+ years,MORTGAGE,46000.0,...,Jan-16,0.0,NaN,1,INDIVIDUAL,0.0,0.0,57477.0,16000.0,1

In [15]:
data.isnull().sum()

loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
emp_length                      21008
home_ownership                      0
annual_inc                          4
verification_status                 0
issue_d                             0
pymnt_plan                          0
purpose                             0
addr_state                          0
dti                                 0
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         250351
open_acc                           29
pub_rec                            29
revol_bal                           0
revol_util                        340
total_acc                          29
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_int                       0
last_pymnt_d                      376
last_pymnt_amnt                     0
last_credit_pull_d                 42
collections_12_mths_ex_med        145
mths_since_last_major_derog    367311
policy_code                         0
application_type                    0
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
total_rev_hi_lim                70276
target                              0
dtype: int64

In [16]:
#dividing training data into categorical and numerical subsets
X_train_cat = X_train.select_dtypes(include = 'object').copy()
X_train_num = X_train.select_dtypes(include = 'number').copy()

In [17]:
# define an empty dictionary to store chi-squared test results
chi2_check = {}

In [18]:
from scipy.stats import chi2_contingency

In [19]:
# loop over each column in the training set to calculate chi-statistic with the target variable
for column in X_train_cat:
    chi, p, dof, ex = chi2_contingency(pd.crosstab(y_train, X_train_cat[column]))
    chi2_check.setdefault('Feature',[]).append(column)
    chi2_check.setdefault('p-value',[]).append(round(p, 10))

In [20]:
# convert the dictionary to a DF
chi2_result = pd.DataFrame(data = chi2_check)
chi2_result.sort_values(by = ['p-value'], ascending = True, ignore_index = True, inplace = True)

In [21]:
chi2_result

               Feature   p-value
0                grade  0.000000
1       home_ownership  0.000000
2  verification_status  0.000000
3              purpose  0.000000
4           addr_state  0.000000
5  initial_list_status  0.000000
6           pymnt_plan  0.000923
7     application_type  1.000000

In [22]:
# since f_class_if does not accept missing values, a very crude imputation of missing values is done
X_train_num.fillna(X_train_num.mean(), inplace = True)

In [23]:
from sklearn.feature_selection import f_classif

In [24]:
# Calculate F Statistic and corresponding p values
F_statistic, p_values = f_classif(X_train_num, y_train)

/Users/hridayashinde/opt/anaconda3/lib/python3.8/site-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [25] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx,
/Users/hridayashinde/opt/anaconda3/lib/python3.8/site-packages/sklearn/feature_selection/_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [25]:
# convert to a DF
ANOVA_F_table = pd.DataFrame(data = {'Numerical_Feature': X_train_num.columns.values,
'F-Score': F_statistic, 'p values': p_values.round(decimals=10)})
ANOVA_F_table.sort_values(by = ['F-Score'], ascending = False, ignore_index = True, inplace = True)
ANOVA_F_table

                  Numerical_Feature       F-Score      p values
0         months_since_last_pymnt_d  23513.805570  0.000000e+00
1                   total_pymnt_inv  14784.534040  0.000000e+00
2                       total_pymnt  14686.729567  0.000000e+00
3                          int_rate  11462.788313  0.000000e+00
4                   last_pymnt_amnt  10826.949727  0.000000e+00
5                         out_prncp   9635.116160  0.000000e+00
6                     out_prncp_inv   9633.442129  0.000000e+00
7   months_since_last_credit_pull_d   7020.218888  0.000000e+00
8              months_since_issue_d   2816.028871  0.000000e+00
9                    inq_last_6mths   2003.820465  0.000000e+00
10                             term   1590.811890  0.000000e+00
11                       revol_util    931.880533  0.000000e+00
12                              dti    863.811228  0.000000e+00
13                       annual_inc    861.298449  0.000000e+00
14                      tot_cur_bal    784.596617  0.000000e+00
15    months_since_earliest_cr_line    447.541677  0.000000e+00
16                 total_rev_hi_lim    377.070243  0.000000e+00
17                    total_rec_int    273.765687  0.000000e+00
18                        total_acc    208.751175  0.000000e+00
19                       emp_length    166.400446  0.000000e+00
20                        revol_bal    119.561249  0.000000e+00
21                      installment     74.947851  0.000000e+00
22                        loan_amnt     57.496753  0.000000e+00
23                      funded_amnt     50.089615  0.000000e+00
24                          pub_rec     39.596857  3.000000e-10
25                  funded_amnt_inv     23.260798  1.415100e-06
26                         open_acc     16.299684  5.408370e-05
27       collections_12_mths_ex_med      7.358687  6.674257e-03
28      mths_since_last_major_derog      3.116419  7.750777e-02
29           mths_since_last_delinq      3.079668  7.927751e-02
30                      delinq_2yrs      1.066138  3.018201e-01
31                   acc_now_delinq      0.690407  4.060264e-01
32                     tot_coll_amt      0.393157  5.306448e-01
33                      policy_code           NaN           NaN

In [26]:
# save the top 20 numerical features in a list
top_num_features = ANOVA_F_table.iloc[:20,0].to_list()

In [27]:
#using variable inflation factor to check for muticollinearity in numerical variables
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [28]:
#definig a function to get vif values for all numerical columns
def calc_vif(X,features):
    variables = X[features]
    vif = pd.DataFrame()
    vif["VIF"] = [variance_inflation_factor(variables.values, i) for i in range(variables.shape[1])]
    vif["features"] = variables.columns
    vif.sort_values(by=["VIF"], ascending = True,ignore_index = True, inplace = True)
    return vif

In [29]:
# save the names of columns to be dropped in a list
#keeping only first 20 numerical features on the basis of p-value
drop_columns_list = ANOVA_F_table.iloc[20:, 0].to_list()
#keeping only first 4 categorical feature on the basis of chisq value
drop_columns_list.extend(chi2_result.iloc[4:, 0].to_list())
#dropping columns on basis of multicollinearity-VIF
drop_columns_list.extend(['out_prncp_inv', 'total_pymnt_inv'])

In [30]:
# function to drop these columns
def col_to_drop(df, columns_list):
    df.drop(columns = columns_list, inplace = True)

In [31]:
# apply to X_train
col_to_drop(X_train, drop_columns_list)

/Users/hridayashinde/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [32]:
# function to create dummy variables
def dummy_creation(df, columns_list):
    df_dummies = []
    for col in columns_list:
        df_dummies.append(pd.get_dummies(df[col], prefix = col, prefix_sep = ':'))
    df_dummies = pd.concat(df_dummies, axis = 1)
    df = pd.concat([df, df_dummies], axis = 1)
    return df

In [33]:
# apply to our final four categorical variables
X_train = dummy_creation(X_train, ['grade', 'home_ownership', 'verification_status', 'purpose'])

In [34]:
# update the test data with all functions defined so far
emp_length_converter(X_test, 'emp_length')
date_columns(X_test, 'earliest_cr_line')
date_columns(X_test, 'issue_d')
date_columns(X_test, 'last_pymnt_d')
date_columns(X_test, 'last_credit_pull_d')
loan_term_converter(X_test, 'term')
col_to_drop(X_test, drop_columns_list)
X_test = dummy_creation(X_test, ['grade', 'home_ownership', 'verification_status', 'purpose'])
# reindex the dummied test set variables to make sure all the feature columns in the training set are also available in the test set
X_test = X_test.reindex(labels=X_train.columns, axis=1, fill_value=0)

<ipython-input-10-9cc4b9d48a63>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace('\+ years', str(10))
<ipython-input-10-9cc4b9d48a63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace('\+ years', str(10))
<ipython-input-10-9cc4b9d48a63>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace('< 1 year', str(0))
<ipython-input-10-9cc4b9d48a63>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace(' years', '')
<ipython-input-10-9cc4b9d48a63>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].str.replace(' year', '')
<ipython-input-10-9cc4b9d48a63>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_numeric(df[column])
/Users/hridayashinde/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(